button{
    width:100px;
    height: 60px;
    border-radius:50px;
    font-weight: bold;
    border: none;
    cursor:pointer;
    font-size: 3rem;
    

}
#keys{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 100px;
    GAP:5PX;

}
#display{
    width: 100%;
    padding-bottom: 5PX;
    font-size: 5rem;
    border: none;
    text-align:left;
    background-color: rgb(198, 126, 126);
    color: rgb(5, 5, 5);
}
body{
margin:0;
display:flex;
justify-content: center;
align-items: center;
background-color: rgb(38, 239, 118);
height: 100vh;

}
#calculator{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(74, 165, 86);
    max-width: 100%fit-content;
    overflow: hidden;
    max-height: max-content;
    border-radius: 15px;
    margin: 50px;
}
button:hover{
    background-color: rgb(219, 178, 178);
}
.operator{
    background-color: rgb(238, 196, 57);
}